<div class="card">
  <div class="card-header card-header-icon" data-background-color="rose">
    <i class="material-icons">assignment</i>
  </div>
  <div class="card-content">
    <h4 class="card-title">{{title}}</h4>
    <div class="table-responsive">
      <table class="table">
        <thead>
        <tr>
          <th class="text-center" *ngFor="let h of data.headers">{{ h }}</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let row of data.rows;let i=index;">
          <td class="text-center" *ngFor="let d of row.data">
            <span [ngSwitch]="d.type">
              <span *ngSwitchCase="'money'">{{d.value | currency}}</span>
              <span *ngSwitchCase="'date'">{{d.value | date:'yyyy-MM-dd hh:mm:ss'}}</span>
              <span *ngSwitchDefault="">{{d.value}}</span>
            </span>
          </td>
          <td class="td-actions text-right" *ngIf="row.actions">
            <button type="button" class="btn btn-info btn-round" *ngIf="row.actions.details" (click)="selectRow(i,row)">
              <i class="material-icons">details</i>
            </button>
            <button type="button" class="btn btn-success btn-round" *ngIf="row.actions.edit"
            (click)="selectRow(i,row)">
              <i class="material-icons">edit</i>
            </button>
            <button type="button" class="btn btn-danger btn-round" *ngIf="row.actions.delete" (click)="deleteRow(i,row)">
              <i class="material-icons">close</i>
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
