<div class="wrapper">
  <div class="sidebar" data-active-color="white" data-background-color="red" data-image="../assets/img/sidebar-1.jpg">
    <div class="sidebar-background" style="background-image: url(assets/img/sidebar-1.jpg)"></div>
    <app-sidebar ></app-sidebar>
  </div>
  <div class="main-panel">
    <app-navbar></app-navbar>
    <router-outlet></router-outlet>
  </div>
  <div *ngIf="" class="close-layer visible"></div>
</div>
