
  <div class="col-sm-12">Alta</div>
  <form #servidorForm="ngForm">
    <div class="col-sm-12">
      <div class="form-group label-floating">
        <label class="control-label">Servidor</label>
        <input type="text" class="form-control" [(ngModel)]="servidor.Servidor"
               id="servidor" name="servidor" required #name="ngModel">
      </div>
    </div>
    <div class="col-sm-12">
      <div class="form-group label-floating">
        <label class="control-label">Puerto</label>
        <input type="text" class="form-control" [(ngModel)]="servidor.Puerto"
               id="puerto" name="puerto" required #name="ngModel">
      </div>
    </div>
    <div class="col-sm-12">
      <div class="form-group label-floating">
        <label class="control-label">Destinatarios Maximos Simultaneos</label>
        <input type="number" class="form-control" [(ngModel)]="servidor.MaxDest"
               id="maxdest" name="maxdest" required #name="ngModel">
      </div>
    </div>
    <div class="col-sm-12">
      <div class="form-group label-floating">
        <label class="control-label">Correos Maximos al Día</label>
        <input type="number" class="form-control" [(ngModel)]="servidor.MaxCorreos"
               id="maxcorreos" name="maxcorreos" required #name="ngModel">
      </div>
    </div>

    <button type="button"  class="btn btn-info btn-lg btn-block"
            (click)="actualizaServidor()" [disabled]="servidorForm.invalid">Actualizar</button>
  </form>
