<div class="wrapper wrapper-full-page">
  <nav class="navbar navbar-primary navbar-transparent navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
          <a class="navbar-brand">Servicio de correos</a>
      </div>
    </div>
  </nav>
  <div class="full-page login-page" filter-color="black">
    <div class="content">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
            <form (ngSubmit)="login($event)"  #formLogin="ngForm">
              <div class="card card-login card-hidden">
                <div class="card-header text-center" data-background-color="blue">
                  <h4 class="card-title">Login</h4>
                </div>
                <div class="card-content">
                  <div class="input-group">
                    <span class="input-group-addon">
                      <i class="material-icons">face</i>
                    </span>
                    <div class="form-group label-floating">
                      <label class="control-label">Usuario</label>
                      <input type="text" class="form-control"
                      name="usuario"
                      [(ngModel)]="usuario"
                      #username="ngModel"
                      required />
                      <app-error-display [displayError]="username.invalid && (username.dirty || username.touched)"
                                         errorMsg="Ingrese un nombre de usuario"
                      ></app-error-display>
                    </div>
                  </div>
                  <div class="input-group">
                    <span class="input-group-addon">
                      <i class="material-icons">lock_outline</i>
                    </span>
                    <div class="form-group label-floating">
                      <label class="control-label">Contraseña</label>
                      <input type="password" class="form-control" name="password"
                      [(ngModel)]="password" required
                      #pass="ngModel">

                      <app-error-display [displayError]="pass.invalid && (pass.dirty || pass.touched)"
                                         errorMsg="Ingrese su contraseña"
                      ></app-error-display>
                    </div>
                  </div>
                </div>
                <div class="footer text-center">
                  <button type="submit"
                          class="btn btn-success  btn-wd btn-lg"
                          [disabled]="!formLogin.valid||sending"
                  >Iniciar sesión</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="container">
        <p class="copyright pull-right">
          &copy;
           {{ '2018-01-01' | date: 'yyyy'}}
          Kore Ingeniería.
        </p>
      </div>
    </footer>
    <div class="full-page-background" style="background-image: url(../../../assets/img/login.jpg)"></div>
  </div>
</div>
