
<div class="alert alert-warning" *ngIf="WarningMessage">
  <strong>Warning!</strong> {{ WarningMessage }}
</div>
<div class="col-sm-12">
  <div class="form-group label-floating">
    <label class="control-label">Correo</label>
    <input type="email" class="form-control" [(ngModel)]="cuentaPrueba.Correo" (ngModelChange)="resetDatos()" required>
  </div>
</div>
<div class="col-sm-12">
  <div class="form-group label-floating">
    <label class="control-label">Contraseña</label>
    <input type="password" class="form-control" [(ngModel)]="cuentaPrueba.Password" (ngModelChange)="resetDatos()" required>
  </div>
</div>

<div class="col-sm-12" *ngIf="confirmNum">
  <div class="form-group label-floating">
    <label class="control-label">Código de confirmación</label>
    <input type="text" class="form-control" [(ngModel)]="codigo" (ngModelChange)="confirmarCodigo()">
  </div>
</div>

<div class="col-sm-12">
  <button type="button" (click)="testEmail(servidor.Servidor, servidor.Puerto)" class="btn btn-success btn-lg btn-block" *ngIf="!confirmNum">Test</button>
  <button type="button" (click)="guardarCuenta()" class="btn btn-success btn-lg btn-block" *ngIf="isValid">Guardar</button>
</div>

<div class="col-sm-12" *ngIf="confirmNum">
  <h2>Se ha enviado un código de confirmación a su correo</h2>
  <h4>Recuerda configurar en tu cuenta, el permiso para la aplicación</h4>
</div>
