<div class="main-content">

  <div class="col-sm-4 col-sm-offset-1">
    <app-servicio-alta *ngIf="!isUpdate">
    </app-servicio-alta>
    <app-servicio-edita *ngIf="isUpdate"
                       [servicio]="servicioToUpd">
    </app-servicio-edita>
    <button type="button" (click)="cancelarActualizacion()" class="btn btn-danger btn-lg btn-block" *ngIf="isUpdate">Cancelar</button>
  </div>

  <div class="col-sm-4 col-sm-offset-1">
    <ul>
      <tr *ngFor="let ser of servicios">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title"> {{ ser.Nombre }} </h4>
            <div class="col-sm-8">
              <div *ngFor="let dor of ser.Servidores">
                <p class="category">
                {{ dor.Servidor }}
                </p>
              </div>
            </div>
              <div class="card">
                  <button type="button" class="btn btn-success btn-simple" matTooltip="Editar" [matTooltipPosition]="'below'" (click)="editar(ser)">
                      <i class="material-icons">edit</i>
                  </button>
                  <a  role="button" class="btn btn-default btn-simple" matTooltip="Configurar" [matTooltipPosition]="'below'" href="#/servicioCorreos/cuentas/{{ser.ID}}" >
                    <i class="material-icons">settings</i></a>
                  <button type="button" class="btn btn-danger btn-simple" matTooltip="Eliminar" [matTooltipPosition]="'below'" (click)="eliminar(ser)">
                      <i class="material-icons">close</i>
                  </button>
              </div>
            </div>
        </div>
      </tr>

    </ul>
  </div>

</div>
