img{
  width: 100%;
  max-height: 400px;
  min-height: 400px;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 85vh;
}

.btn{
  max-height: 100px;
  max-height: 100px;
}
