<div class="container">
  <h1>CONFIGURACIÓN DE SERVICIOS</h1>

  <div class="row">

    <div class="col-md-6" *ngFor="let link of links">
      <div class="card">
        <a [routerLink]="['/servicioCorreos',link.url]">
          <img [src]="link.img" alt="">
        </a>
        <div class="card-content">
          <h2 class="card-title">{{ link.nombre }}</h2>
          <h4 class="card-text">{{ link.descripcion }}</h4>
          <a [routerLink]="['/servicioCorreos',link.url]" class="btn btn-primary btn-block">{{ link.nombre }}</a>
        </div>

      </div>
    </div>

  </div>
</div>
