.breadcrumb {
  background: transparent;
  font-size: .8em;
  position: relative;
}

.breadcrumb:last-child {
  color: #e91e63;
}

.breadcrumb:after {
  content: '-';
  position: absolute;
  right: 0;
}

.pseudoLink{
  cursor: pointer;
}

