<nav #navbar class="navbar  navbar-transparent navbar-absolute">
  <div class="container-fluid">
    <div class="navbar-minimize">
      <button id="minimizeSidebar" class="btn btn-round btn-white btn-fill btn-just-icon">
        <i class="material-icons visible-on-sidebar-regular">more_vert</i>
        <i class="material-icons visible-on-sidebar-mini">view_list</i>
      </button>
    </div>
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" (click)="sidebarToggle()">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse">
      <div (window:resize)="onResize($event)">
        <ul class="nav navbar-nav navbar-left">

          <li *ngFor="let t of getTitle() | slice:1;let i=index;" routerLinkActive="active-bread">
            <a class="breadcrumb" *ngIf="i<=getTitle().length"
               [routerLink]="[t]"> {{t}}</a>
          </li>
        </ul>

        <!--<ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="material-icons">notifications</i>
              <span class="notification">{{_navService.notifications.length}}</span>
              <p class="hidden-lg hidden-md">
                Notificaciones
                <b class="caret"></b>
              </p>
            </a>
            <ul class="dropdown-menu">
              <li *ngFor="let item of _navService.notifications">
                <a href="#">{{item.text}}</a>
              </li>
            </ul>
          </li>-->
        <ul class="nav navbar-nav navbar-right">
          <li (click)="auth.logout()" class="pseudoLink">
            <a class="dropdown-toggle" data-toggle="dropdown">
              <i class="material-icons">exit_to_app</i>
              <p class="hidden-lg hidden-md">Salir</p>
            </a>
          </li>
          <li class="separator hidden-lg hidden-md"></li>
        </ul>
        <!--<form class="navbar-form navbar-right" role="search">
          <div class="form-group form-search is-empty">
            <input type="text" class="form-control" placeholder="Search">
            <span class="material-input"></span>
          </div>
        </form>-->
      </div>
    </div>
  </div>
</nav>
