<div class="logo">
  <div class="logo-normal">
    <a [routerLink]="['/servicioCorreos']" class="simple-text">
      Kore Ingeniería
    </a>
  </div>
  <div class="logo-img">
    <img src="/assets/img/logo.png"/>
  </div>
</div>


<div class="sidebar-wrapper">
  <div class="user">
      <div class="photo">
        <img src="../assets/img/user.png"/>
      </div>
      <div class="info">
          <a data-toggle="collapse" href="#collapseExample" class="collapsed">
              <span>
                {{ profile.User }}
                  <b class="caret"></b>
              </span>
          </a>
          <div class="collapse" id="collapseExample">
              <ul class="nav">
                  <li (click)="auth.logout()">
                      <a>
                          <span class="sidebar-mini">S</span>
                          <span class="sidebar-normal">Cerrar sesión</span>
                      </a>
                  </li>
              </ul>
          </div>
      </div>
  </div>


  <div class="nav-container">
    <ul class="nav">
      <li routerLinkActive="active" *ngFor="let menuitem of getMenuItems()">
        <!--If is a single link-->
        <a [routerLink]="[menuitem.path]" *ngIf="menuitem.type === 'link'">
          <i class="material-icons">{{menuitem.icontype}}</i>
          <p>{{menuitem.title}}</p>
        </a>
        <!--If it have a submenu-->
        <a data-toggle="collapse" href="#{{menuitem.collapse}}"
           *ngIf="menuitem.type === 'sub'" (click)="updatePS()">
          <i class="material-icons">{{menuitem.icontype}}</i>
          <p>{{menuitem.title}}<b class="caret"></b></p>
        </a>

        <!--Display the submenu items-->
        <div id="{{menuitem.collapse}}" class="collapse" *ngIf="menuitem.type === 'sub'">
          <ul class="nav">
            <li routerLinkActive="active" *ngFor="let childitem of menuitem.children">
              <a [routerLink]="[menuitem.path, childitem.path]">
                <span class="sidebar-mini">{{childitem.ab}}</span>
                <span class="sidebar-normal">{{childitem.title}}</span>
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>


</div>
