<div class="main-content">

  <div class="col-md-12">

    <div class="card">
      <div class="card-header text-center" *ngIf="servicio">
        <h4 class="card-title">{{ servicio.Nombre }}</h4>

          <p for="comment">Token:</p>
          <div class="col-sm-6 col-sm-offset-3">
              <textarea class="form-control" rows="5" id="comment" readonly>{{ servicio.Token }}</textarea>
          </div>
          <div class="row"></div>


      </div>
      <div class="card-content">
        <ul class="nav nav-pills nav-pills-warning" *ngIf="servicio">
          <li *ngFor="let servidor of servicio.Servidores; let i = index" [class.active]="i == 0">
            <a href="#{{servidor.ID}}" data-toggle="tab">{{ servidor.Servidor }}</a>
          </li>
        </ul>
        
        <div class="tab-content" *ngIf="servicio">
          <div class="tab-pane" *ngFor="let servidor of servicio.Servidores; let i = index" [class.active]="i == 0" id="{{servidor.ID}}">

            <div class="col-sm-4 col-sm-offset-1">
              <ul>
                <tr *ngFor="let cuenta of servidor.Cuentas">
                  <div class="card">
                    <div class="card-header">
                      <h4 class="card-title"> {{ cuenta.Correo }}
                      </h4>
                      <div class="card">
                          <button type="button" class="btn btn-success btn-simple" matTooltip="editar" [matTooltipPosition]="'below'"
                                  (click)="editar(cuenta)">
                            <i class="material-icons">edit</i>
                          </button>
                          <button type="button" class="btn btn-danger btn-simple" matTooltip="eliminar" [matTooltipPosition]="'below'"
                                  (click)="eliminar(servidor,cuenta)">
                            <i class="material-icons">close</i>
                          </button>
                      </div>

                    </div>
                    <div class="card-content">
                    </div>
                  </div>
                </tr>

              </ul>
            </div>

            <div class="col-sm-4 col-sm-offset-2">
              <app-configuracion-cuentas-alta *ngIf="!isUpdate"
              [servidor]="servidor"
              [servicio]="servicio"></app-configuracion-cuentas-alta>


              <app-configuracion-cuentas-edita *ngIf="isUpdate"
             [servicio]="servicio"
             [servidor]="servidor"
             [cuenta]="cuentaToUpddate"></app-configuracion-cuentas-edita>

              <button type="button" (click)="cancelarActualizacion()" class="btn btn-danger btn-lg btn-block" *ngIf="isUpdate">Cancelar</button>
            </div>


          </div>
        </div>
      </div>
    </div>
  </div>
</div>
