

  <div class="col-md-6 col-md-offset-3">
    <div class="card">
        <div class="card-header card-header-text" data-background-color="purple">
            <h4 class="card-title">Error 404</h4>
            <p class="category">Recurso No Encontrado</p>
        </div>
        <div class="card-content">
            Si consideras que esto no debería estar pasando envíanos un correo a korereports@gmail.con
        </div>
    </div>
</div>

