<div class="main-content">
  <div class="row">
    <div class="col-md-6">
      <app-table title="Mi tabla de cosas"
                 [headers]="['id','Nombre','Estatus','Monto','Fecha']"
                 [rows]="[['1','Caja de hidalgo','Abierto',{type:'money',value:2000},{type:'date',value:'01-10-2018'}],
            ['2','Caja de CEDIS','Cerrado',{type:'money',value:3050}]]">
      </app-table>
    </div>

    <div class="col-md-6">
      <app-table-extend title="Tabla con acciones"
                        [Datos]="tabla2"
                        (onSelectRow)="selectRow($event)"
      ></app-table-extend>
    </div>

    <div class="col-md-10">
      <ngx-datatable [rows]="rows"
                     [columns]="columns"
                     class="material"
                     [limit]="5"
                     [columnMode]="'toggling'"
      ></ngx-datatable>
    </div>
  </div>


</div>
