<form #servicioForm="ngForm">
  <div class="col-sm-12">
    <div class="form-group label-floating">
      <label class="control-label">Servicio</label>
      <input type="text" class="form-control" [(ngModel)]="servicio.Nombre"
             id="servicio" name="servicio" required #name="ngModel">
    </div>
  </div>

  <div class="col-sm-4 col-sm-offset-1">
    <mat-form-field>
      <mat-select multiple placeholder="Servidores" [(ngModel)]="servicio.Servidores"
                  id="servidores" name="servidores">
        <mat-option *ngFor="let srv of servidores" [value]="srv">
          {{ srv.Servidor }}:{{ srv.Puerto }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <button type="button" class="btn btn-success btn-lg btn-block"
          (click)="altaServicio()" [disabled]="servicioForm.invalid">Guardar</button>

</form>

