<div class="main-content">

  <div class="col-sm-4 col-sm-offset-1">
    <app-servidores-alta *ngIf="!isUpdate"></app-servidores-alta>
    <app-servidores-edita *ngIf="isUpdate"
                          [servidor]="servidorToUpd"></app-servidores-edita>
    <button type="button" (click)="cancelarActualizacion()" class="btn btn-danger btn-lg btn-block" *ngIf="isUpdate">Cancelar</button>
  </div>

  <div class="col-sm-4 col-sm-offset-1">
    <ul>
      <tr *ngFor="let servidor of servidores">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title"> {{ servidor.Servidor }} </h4>
            <p class="category">Puerto: {{ servidor.Puerto }}
            </p>

            <div class="card">
                <button type="button" class="btn btn-success btn-simple" matTooltip="editar" [matTooltipPosition]="'below'"
                        (click)="editar(servidor)">
                  <i class="material-icons">edit</i>
                </button>
                <button type="button" class="btn btn-danger btn-simple" matTooltip="eliminar" [matTooltipPosition]="'below'"
                        (click)="eliminar(servidor)">
                  <i class="material-icons">close</i>
                </button>
            </div>

          </div>
          <div class="card-content">
          </div>
        </div>
      </tr>

    </ul>
  </div>

</div>
