<div class="card">
  <div class="card-header card-header-icon" data-background-color="rose">
    <i class="material-icons">assignment</i>
  </div>
  <div class="card-content">
    <h4 class="card-title">{{title}}</h4>
    <div class="content table-responsive" *ngIf="rows.length>0">
      <table class="table table-hover">
        <thead class="text-primary">
        <tr>
          <th *ngFor="let head of headers">{{ head }}</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let row of rows">
          <td *ngFor="let d of row">
            <span [ngSwitch]="d.type">
              <span *ngSwitchCase="'money'">{{d.value | currency}}</span>
              <span *ngSwitchCase="'date'">{{d.value | date:'yyyy-MM-dd hh:mm:ss'}}</span>
              <span *ngSwitchDefault="">{{d}}</span>
            </span>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
